.section-outter.form.contact-us{
    margin-top: 100px;
}

.form__header_contact-us{
    width: max-content;
    margin: 50px auto;
    font-family: "Gilda Display", serif;
    font-size: 36px;
    color: #525252;
    font-weight: 100;
}
.form_contact-us-text{
    margin-bottom: 20px;
    font-family: "Gilda Display", serif;
    font-size: 14px;
    line-height: 31px;
    color: #525252;
    font-weight: 100;
}