@font-face {
    font-family: 'Gilda Display', serif;
    src: url('./../fonts/GildaDisplay-Regular.ttf');
}

@font-face {
    font-family: 'MontserratLight', sans-serif;
    src: url('./../fonts/Montserrat-Light.ttf');
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('./../fonts/Montserrat-Regular.ttf');
}